*{
    margin: 0;
    padding: 0;
}
#container{
    background-image: url(bg.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background:linear-gradient(rgb(182, 243, 182),rgb(240, 240, 158));
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}
.head{
    background-color: rgb(14, 2, 49);
    border: 2px solid white;
    border-radius: 7px;
    z-index: 1;
}
.body{
    background-color: rgb(190, 32, 32);
    border: 2px solid white;
    border-radius: 12px;
}
.food{
    background:linear-gradient(rgb(12, 202, 12),rgb(189, 109, 17));
    border-radius: 6px;
    border: 2px solid rgb(27, 13, 219);
}
.score{
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 34px;
    font-weight: bold;
    font-family: cursive;
}
.maxm{
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 34px;
    font-weight: bold;
    font-family: cursive;
}
